@font-face{
  font-family:"solaimanLipi";
  src:url("../fonts/SolaimanLipi.woff") format("embedded-opentype"), url("../fonts/SolaimanLipi.woff") format("woff");
}
@font-face{
  font-family:"SolaimanLipi";
  src:url("../fonts/SolaimanLipi.woff2") format("woff");
}
@font-face{
  font-family:"SolaimanLipi";
  src:url("../fonts/SolaimanLipi.ttf") format("truetype");
}
@font-face{
  font-family:"SolaimanLipi";
  src:url("../fonts/SolaimanLipi.svg") format("svg");
}

